<h1>Seja Bem-vindo</h1>

<ul>
    <li><%= link_to "Tipos" , kinds_path%></li>
    <li><%= link_to "Contatos", contacts_path %></li>
    <li><%= link_to "Endereços", adresses_path %></li>
    <li><%= link_to "Telefones", phones_path %></li>
    
    
</ul>
